@import 'antd/dist/antd.css';
.App {
  text-align: left;
}

.ant-layout-header{
  z-index: 1;
  height: auto;
  padding: 0px;
  line-height: 0;
  padding: 5px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.ant-layout-sider{
  background: #fff;
  width: 256px!important;
  max-width: 256px!important;
  min-width: 256px!important;
}
.ant-input, .ant-input-search-button{
  border: none!important;
  padding: 5px;
  background: #F1F3F8!important;
}

.ant-layout-has-sider ul{
  padding-left: 25px!important;
}
.ant-layout-has-sider ul li{
  margin-left: 6px;
}

.product-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-sub{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-divider-horizontal {
  margin: 10px 0;
}

h1{
  margin: 0;
}

h4,h5{
  margin: 0;
  color: gray;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
