@import 'antd/dist/antd.css';
.App {
  text-align: left;
}

.ant-layout-header{
  z-index: 1;
  height: auto;
  padding: 0px;
  line-height: 0;
  padding: 5px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.ant-layout-sider{
  max-width: 228px!important;
  min-width: 228px!important;
  width: 250px!important;
}
.ant-input, .ant-input-search-button{
  border: none!important;
  padding: 5px;
  background: #F1F3F8!important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
